{
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"bracketSpacing": false,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid"
}
